body{
    background-color: cadetblue;
}

#chessboard{
    display:grid;
    border: 2px solid gold;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}

.gameInfo{
    text-align: justify;
    padding: 5px;
}





