body{
    background-color: cadetblue;
}

#chessboard{
    display:grid;
    border: 2px solid gold;
    margin: 5px;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}


.btn-div{
    display: flex;
   flex-direction: row;
  align-items: center;
}

/* .roundInput{
    width: 50px;
} */



